[submodule "external/zenoh_carla_bridge"]
	path = external/zenoh_carla_bridge
	url = https://github.com/evshary/zenoh_carla_bridge.git
[submodule "external/zenoh-plugin-ros2dds"]
	path = external/zenoh-plugin-ros2dds
	url = https://github.com/eclipse-zenoh/zenoh-plugin-ros2dds.git
[submodule "src/autoware_manual_control"]
	path = src/autoware_manual_control
	url = https://github.com/evshary/autoware_manual_control.git
[submodule "external/zenoh_autoware_v2x"]
	path = external/zenoh_autoware_v2x
	url = https://github.com/evshary/zenoh_autoware_v2x.git
[submodule "src/autoware_launch"]
	path = src/autoware_launch
	url = https://github.com/evshary/autoware_launch.git
[submodule "k8s/zenoh_autoware_fms"]
	path = k8s/zenoh_autoware_fms
	url = https://github.com/liuzhiyuan562/zenoh_autoware_fms.git
[submodule "k8s/autoware-api/autoware_adapi_msgs"]
	path = k8s/autoware-api/autoware_adapi_msgs
	url = https://github.com/autowarefoundation/autoware_adapi_msgs.git
[submodule "k8s/autoware-api/zenoh-python"]
	path = k8s/autoware-api/zenoh-python
	url = https://github.com/eclipse-zenoh/zenoh-python.git
